*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.container{
    width: 100%; 
    min-height: 100vh;  
    background: url(./images/bg-bottom.svg),url(./images/bg-top.svg); 
    background-position: left bottom, right top; 
    background-repeat: no-repeat; 
    background-color: hsl(240, 78%, 98%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto; 
    padding: 60px 0; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 32px; 
    color: hsl(233, 13%, 49%);
}

.pricing{
    margin: 30px 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color:hsl(234, 14%, 74%);
}

.card-container{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background: #fff; 
    margin-top: 40px; 
    border-radius: 10px; 
}

.card{
    /* display: flex;  */
    /* flex-direction: column; */
    padding: 40px 60px; 
}

.card-title{
    color: hsl(233, 13%, 49%);
    font-size: 28px; 
    margin-bottom: 30px; 
}

.price-annual, 
.price-month{
    display: flex; 
    justify-content: center;
    align-items: center;
    color: hsl(232, 13%, 33%);
}

.price-annual{
    display: none; 
}

.price{
    font-size: 44px; 
    margin-left: 4px; 
}

ul{
    list-style: none;
    padding: 24px 0; 
}

ul li{
    color:hsl(233, 13%, 49%); 
    border-bottom: 1px solid hsl(234, 14%, 74%); 
    padding: 18px 0; 
}

ul li:first-child{
    border-top: 1px solid hsl(234, 14%, 74%); 
}

button{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 30px;
    border-radius: 5px; 
    border: 1px solid white; 
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%)); 
    color: white; 
    cursor: pointer; 
    font-weight: 700;
}

button:hover{
    background: transparent; 
    color:hsl(237, 63%, 64%); 
    border-color: hsl(237, 63%, 64%);
}

#middle{
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 10px; 
    transform: scale(1.1); 
}

#middle > .card-title,
#middle > .price-annual, 
#middle > .price-month, 
#middle > ul li
{
    color: #fff;
}

#middle > button{
    background: #fff; 
    color: hsl(237, 63%, 64%);
}

#middle > button:hover{
    background: transparent; 
    color: #fff; 
    border-color: #fff; 
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 20px; 
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Media Queries */
@media (max-width: 375px){

    .container{
        display: flex; 
        flex-direction: column;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
        background: transparent; 
    }

    .card{
        margin: 10px; 
        background: #fff; 
        border-radius: 10px;
    }

    #middle{
        transform: scale(1); 
    }
}